pw.pw
*.pw
train.json
counting.ipynb
.ipynb_checkpoints/
__pycache__
country_data.pickle
metadata_w_google.pickle
country_guess_final.pickle
country_coords.pickle
results.pickle
climates1.csv
*.err
*.out
fullclimate.csv
pickles/country_data_final.pickle
